// button
.btn i {
    transition-duration: .15s;
}

.btn-primary:hover {
    background: #FF785E;
    border-color: #FF785E;
    color: #fff;
}

.btn-outline-secondary:hover {
    background: $primary;
    border-color: $primary;
    color: $secondary;
}

.btn-outline-secondary:hover i {
    color: #FF785E;
}

// list
.list {
    z-index: 10;
}

.list {
    .link-dark-gray {
        border-bottom: 2px solid #fff;
    }

    .link-dark-gray.active,
    .link-dark-gray:hover,
    .link-dark-gray:focus {
        border-bottom: 2px solid #FFDF65;
    }
}